@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

body {
  margin: 0 auto;
  background-color: rgb(9, 13, 31);
  color: aliceblue;
  font-family: courgette, kalam, Lobster Two, Lato, 'Open Sans';
  max-width: 1440px;
  font-size: 24px;
}
